/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
.right-sidebar{
  width:220px;
  float:right;
  margin-right:15px;
  .noticia-home{
                text-decoration: none;
                color: #333;
                border-bottom: solid 1px #ccc;
                display: inline-block;
                width: 100%;
                padding: 14px 0;
                .noticia-data{
                    color: #6B6B6B;
                    font-size: 14px;
                }
                h2{
                    font-size: 14px;
                    font-weight: normal;
                    color: #000;
                    margin-top: 0;
                }
            }
            .more{
                display:block;
                width:97px;
                height:17px;
                float:left;
                color:#333;
                font-size:12px;
                text-decoration:none;
                text-transform:uppercase;
                font-family:@joeybold;
                line-height:17px;
                background:url(../img/seta-avanca.gif);
                background-repeat:no-repeat;
                background-position:right;
                margin-top:16px;
            }
  .separador{
    width:100%;
    height:5px;
    background:#333;
    margin:20px 0;
  }
  h2{
    font-family:@joeybold;
      color:#333;
      text-transform:uppercase;
      font-size:16px;
      font-weight: normal;
      margin-top:0;
  }
}
#message{
    width:200px     ;
}
body {
    font-size: 1em;
    font-family: @joeyregular;
    p{
        font-size:13px;
        margin-bottom:1.2em;
        color:#333;
    }
    h1, .clearfix{
        line-height: 1em;
    }
    a{color: @dodgerblue;}

}
* {
    margin: 0;
}
html, body {
    height: 100%;
}


.left{
    float: left;
}
.right{
    float:right;
}
.page-imagem{
    float:right;
    margin-top:50px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Fontes*****/
@font-face {
    font-family: 'fs_joeyregular';
    src: url('../fonts/fsjoey/fs_joey-regular-webfont.eot');
    src: url('../fonts/fsjoey/fs_joey-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fs_joey-regular-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fs_joey-regular-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fs_joey-regular-webfont.svg#fs_joeyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_joeymedium';
    src: url('../fonts/fsjoey/fs_joey-medium-webfont.eot');
    src: url('../fonts/fsjoey/fs_joey-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fs_joey-medium-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fs_joey-medium-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fs_joey-medium-webfont.svg#fs_joeymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeybold';
    src: url('../fonts/fsjoey/fs_joey-bold-webfont.eot');
    src: url('../fonts/fsjoey/fs_joey-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fs_joey-bold-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fs_joey-bold-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fs_joey-bold-webfont.svg#fs_joeymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeyheavy';
    src: url('../fonts/fsjoey/fs_joey-heavy-webfont.eot');
    src: url('../fonts/fsjoey/fs_joey-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fs_joey-heavy-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fs_joey-heavy-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fs_joey-heavy-webfont.svg#fs_joeymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeyitalic';
    src: url('../fonts/fsjoey/fs_joey-italic-webfont.eot');
    src: url('../fonts/fsjoey/fs_joey-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fs_joey-italic-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fs_joey-italic-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fs_joey-italic-webfont.svg#fs_joeymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@joeyregular: 'fs_joeyregular', sans-serif;
@joeymedium: 'fs_joeymedium', sans-serif;
@joeybold: 'fs_joeybold', sans-serif;
@joeyheavy: 'fs_joeyheavy', sans-serif;
@joeyitalic: 'fs_joeyitalic', sans-serif;

/*****Cores*****/
@dodgerblue: #3399FE;
@nero:#333333;
@athensgrey:#EAEAEA;
@iron:#CCCCCC;
@darkgray:#9B9B9B;
@aliceblue: #EBF5FF;

.wrapper{
    width:1074px;
    margin:0 auto;
    background: @athensgrey;
}
.main{
    width:989px;
    margin:0 auto;
    background: #fff;
}
.busca{
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
            color: #FFF;
  }
  input:-moz-placeholder, textarea:-moz-placeholder{ 
    color: #FFF;
  }
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
            color: @nero;
}
input::-webkit-input-placeholder{
}
input:-moz-placeholder, textarea:-moz-placeholder{ 
    color: @nero;
}
input:-moz-placeholder{
}

/* =========
     Header
   ========= */
header{
    height: 227px;
    .marca-adg{
        display: block;
        width: 205px;
        height: 227px;
        background-color: @dodgerblue;
        a{
            display: block;
            width: 100%;
            height: 227px;
            img{
                width: 105px;
                height: 90px;
                margin-top: 35px;
                margin-left: 18px;
            }
        }
    }
    .right-header{
        width: 784px;
        .busca{
            width: 304px;
            height: 37px;
            background: #333333;
            form{
              input{
                width:270px;
                height:37px;
                padding-left:10px;
                padding-left:24px;
                color:#fff;
                font-family:@joeyregular;
                background-color:transparent;
                border:none;
                outline:none;
                background-image: url(../img/busca-topo.gif);
                background-repeat:no-repeat;
                background-position:right center;
              }
            }
        }
        .login-socios{
            width: 100px;
            height: 37px;
            line-height:37px;
            a{
              font-family:@joeybold;
              color:#aeaeae;
              text-decoration:none;
            }
        }
        .nav-wrapper{
            width: 100%;
            height: 104px;
            background-color: black;
            nav{
                height: 46px;
                margin-top: 56px;
                margin-left:17px;
                ul{
                    margin:0;
                    padding:0;
                    list-style-type: none;
                    li{
                        float:left;
                        height:47px;
                        border-left: solid 1px #333;
                        &:first-child{border-left:none;}
                        a{
                            display: block;
                            padding: 0 12px;
                            text-decoration: none;
                            font-family: @joeybold;
                            text-transform: uppercase;
                            line-height: 41px;
                            color: #fff;
                            font-size: 18px;
                            height: 43px;
                            &.active, &:hover{
                                border-bottom:solid 5px @dodgerblue;
                            }
                        }
                    }
                }
            }
        }
    }
}
.drop-select .dk_toggle{
  border-top:none !important;
  border-bottom: solid 6px #333;
}
.calendar-header{
  width:152px;
  height:37px;
  background-color: @aliceblue;
  padding-left:17px;
  line-height:37px;
  font-family: @joeybold;
  font-size:12px;
  text-transform: uppercase;
  .nav-links{
    width:40px;
    float:right;
    margin-right:12px;
    margin-top:11px;
    a{
      display:block;
      width:17px;
      height: 17px;
      float:left;
      text-align: center;
      line-height:17px;
      background:#333;
      color: #FFF;
      text-decoration:none;
      margin-left:3px;
    }
  }
}
.event-calendar{
    display: block;
    width: 168px;
    border: solid 1px #ccc;
    border-bottom: none;
    border-right:none;
    .calendar-row {
        height: 26px;
        line-height: 26px;
        .blank-day{
            width: 23px;
            float: left;
            height: 26px;
            border-right: solid 1px #ccc;
            border-bottom: solid 1px #ccc;
        }
        .day{
            float: left;
            width: 23px;
            text-align: center;
            border-right: solid 1px #ccc;
            border-bottom: solid 1px #ccc;
            font-size:12px;
            color:#888;
            a{
              display: block;
              width: 23px;
              height: 23px;
              text-decoration: none;
              color: #888;
              border-bottom: solid 3px #ccc;
            }
        }
    }
}

.main_content{
    width:971px;
    float:right;
    margin-top:-45px;
    background-color:#FFF;
    padding-bottom:100px;
    .sidebar{
        float:left;
        width:177px;
        padding-left:10px;
        position:relative;
        z-index:9999;
        padding-top:110px;

        .criterio{
          width: 157px;
          height: 28px;
          border: none;
          background: #EAEAEA;
          font-family: @joeyregular;
          line-height:38px;
          font-size:18px;
          padding:5px;
        }

        legend{
          line-height: 38px;
          text-transform: uppercase;
          font-family: fs_joeybold;
          color: #333;
          font-size: 16px;
        }

        .designers-select
        {
          .dk_label, .dk_options_inner{
            text-transform: uppercase;
            font-family: @joeyregular;
          }
        }

        .separador-sidebar{
          width:178px;
          height:6px;
          background:#333;
          margin-top:27px;
          margin-bottom:10px;
          margin-left:-11px;
        }
        h2{
            font-family:@joeybold;
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
            margin:0;
            height: 38px;
            line-height: 36px;
            &.tags{
              border-bottom:solid 1px #ccc;
              width: 167px;
            }
        }
    }
}
//Nav Calendário
nav.calendario{
    ul{
        margin:0;
        padding:0;
        li{
            width:167px;
            border-bottom:solid 1px #ccc;
            a.archive-link{
                display: block;
                width: 100%;
                height: 38px;
                line-height: 36px;
                text-decoration: none;
                color: #333;
                text-transform: uppercase;
                font-size: 16px;
                small{font-size:13px; color:@dodgerblue;}
                &.active, &:hover{background-color:@athensgrey;}
            }
        }
    }
}

/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
}
  .dk_container:focus {
    outline: 0;
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-image: url('../img/dk_arrows.png');
  background-repeat: no-repeat;
  background-position: 90% center;
  color: #333;
  padding: 7px 45px 7px 10px;
  width: 122px !important;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 38px;
  padding-left: 0;
  font-family: fs_joeyregular;
  font-weight: normal;
  font-size: 16px;
}
  .dk_toggle:hover {
  }
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {
  }
  .dk_focus .dk_toggle {
  }

/* Applied whenever the dropdown is open */
.dk_open {
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {
  }

/* The outer container of the options */
.dk_options {
}
  .dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding: 8px 10px;
  }
  .dk_options li:last-child a {
    border-bottom: none;
  }
  .dk_options a:hover,
  .dk_option_current a {
    background-color: #CCC;
    border-bottom-color: #CCC;
    color: @dodgerblue;
    text-decoration: none;
  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  margin-top:0;
  padding:0;
  border-bottom: 1px solid #CCC;
  max-height: 250px;
  li{
    list-style-type: none;
  }
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position: relative;
}
  .dk_container a {
    outline: 0;
  }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/

//Nav Institucional
nav.institucional{
    width:166px;
    margin:0 auto;
    margin-top:100px;
    ul{
        margin:0;
        padding:0;
        li{
            border-bottom:solid 1px #ccc;
            a{
                display: block;
                width: 100%;
                height: 38px;
                line-height: 40px;
                text-decoration: none;
                color: #333;
                text-transform: uppercase;
                font-size: 15px;
                &.active, &:hover{background-color:@athensgrey;}
            }
        }
    }
}

//Conteudo
.conteudo{
    float:left;
    width:510px;
    padding-left:20px;
}

.conteudo{
    h1.titulo{
        text-transform:uppercase;
        margin-top:0;
        font-family:@joeybold;
        font-weight: normal;
        font-size: 32px;
    }
}

//Home
.home{
    .slideshow{
        margin-top:-37px;
        width:666px;
        float:left;
    }
    .bxslider{
        margin:0;
        padding:0;
    }
    .titulo{
        position:relative;
        width: 427px;
        height: 80px;
        padding-left:15px;
        margin-top:-80px;
        background-color: rgba(52, 153, 254, 0.84);
        font-family:@joeybold;
        color:#FFF;
        font-size: 30px;
        text-decoration:none;
        span{
            width:380px;
            display:inline-block;
            line-height:1em;
            padding-top:8px;
        }
    }
    .bx-controls{
        margin-top: -38px;
        position: relative;
        margin-left: 442px;
        z-index:1000;
    }
    .bx-prev, .bx-next{
        display:block;
        width:48px;
        height:38px;
        border-right:solid 1px #5A5A5A;
        text-indent: -9999px;
        background-color:#333;
        background-image:url(../img/seta-prev.gif);
        background-repeat:no-repeat;
        background-position:center;
        float:left;
    }
    .bx-next{
        background-image:url(../img/seta-next.gif);
    }
    #slide-counter{
        width: 79px;
        height: 38px;
        background-color:#333;
        color:#AEAEAE;
        margin-left:540px;
        line-height: 38px;
        position:relative;
        z-index:1000;
        text-align:center;
    }
    .banners{
        width:284px;
        float:left;
        margin-left:4px;
        margin-top:-37px;
        .banner{
            margin-bottom:5px;
        }
    }
    .banner-maior{
        margin-top:20px;
    }

    .left-content{
        width:554px;
        float:left;
        .separador{
                width:100%;
                height:5px;
                background:#333;
            }
        h1{
                font-family: @joeybold;
                font-size: 16px;
                color: #333;
                text-transform: uppercase;
                margin: 14px 0;
                a{
                    text-decoration:none;
                    color:#333;
                }
            }
        .noticias-destaque-home{
            width: 268px;
            float: left;
            font-family: @joeyregular;
            color: #000;
            .noticia-home{
                text-decoration: none;
                color: #333;
                border-bottom: solid 1px #ccc;
                display: inline-block;
                width: 100%;
                padding: 14px 0;
                .noticia-data{
                    color: #6B6B6B;
                    font-size: 14px;
                }
                h2{
                    font-size: 14px;
                    font-weight: normal;
                    color: #000;
                    margin-top: 0;
                }
            }
            .more{
                display:block;
                width:97px;
                height:17px;
                float:left;
                color:#333;
                font-size:12px;
                text-decoration:none;
                text-transform:uppercase;
                font-family:@joeybold;
                line-height:17px;
                background:url(../img/seta-avanca.gif);
                background-repeat:no-repeat;
                background-position:right;
                margin-top:16px;
            }
        }
        .sociais{
            width: 268px;
            float: right;
            font-family: @joeyregular;
            color: #000;
            .twitter-home{
                .seta{
                    display:block;
                    width:16px;
                    height:16px;
                    background:url(../img/seta-balao-twitter.gif);
                    margin-left:70px;
                    margin-top:-25px;
                }
                .tweets{
                    display:block;
                    width:268px;
                    background-color:@dodgerblue;
                }
                .tweet{
                    padding-bottom:12px;
                    margin-bottom:18px;
                }
                .avatar{
                    margin:14px;
                    float:left;
                }
                p{
                    display: block;
                    float: left;
                    width: 184px;
                    color:#fff;
                    margin-bottom:5px;
                    line-height: 1.2em;
                }
                a{color:#072643;}
                .time{text-decoration:none; margin-left:75px;}
            }
            .facebook-inner{
                margin-left: -7px;
                height: 153px;
                margin-top: -72px;
            }
            .facebook-outer{
                display: block;
                width: 274px;
                overflow: hidden;
                margin-top:-10px;
            }
        }
    }


    .sidebar{
      margin:0 16px 0;
      padding:0;
      width:380px;
      float:right;
      .separador{
        width: 100%;
        height:5px;
        background:#333;
        margin-top:29px;
      }
      .calendario-home-wrapper{
        h1{
          font-family: @joeybold;
          font-size: 16px;
          color: #333;
          text-transform: uppercase;
          margin-top: 20px;
          display:inline-block;
          float:left;
        }
        .calendar-wrapper{
          width:380px;
          padding-top:11px;
          padding-bottom:11px;
          background-color:#EBF5FF;
        }
        .calendarheader{
          font-family:@joeybold;
          color:#333;
          text-transform: uppercase;
          float:right;
          span{
            display:inline-block;
            float:left;
            margin-top:20px;
          }
          .nav-links{
            display:block;
            width:40px;
            height:17px;
            float:left;
            margin-top:20px;
            .prev_link, .next_link{
              display:block;
              width:17px;
              height:17px;
              background:url(../img/seta-avanca.gif);
              float:left;
              margin-left:3px;
              text-indent: -9999px;
            }
            .prev_link{
              background:url(../img/seta-retrocede.gif);
            }
          }
        }
        .event-calendar{
          width:357px;
          margin:0 auto;
          background-color:#FFF;
          .calendar-row{
            line-height: 33px;
            .blank-day{
              width: 50px;
              float: left;
              height: 33px;
              border-right: solid 1px #ccc;
              border-bottom: solid 1px #ccc;
            }
            .day{
              float: left;
              width: 50px;
              text-align: center;
              border-right: solid 1px #ccc;
              border-bottom: solid 1px #ccc;
              font-size: 12px;
              color: #333;
              &.today{
                background:#333;
                color:#FFF; 
              }
              a{
                display: block;
                width: 50px;
                height: 28px;
                text-decoration: none;
                color: #333;
                border-bottom: solid 5px #ccc;
              }
            }
          }
        }
      }
    }
    .destaque-home{
      header{
        height:auto;
      }
      h1{
        font-family: @joeybold;
        font-size: 16px;
        color: #333;
        text-transform: uppercase;
        margin-top: 20px;
        display:inline-block;
        float:left;
      }
      .more{
        display:block;
        width:90px;
        height:17px;
        float:right;
        color:#333;
        font-size:12px;
        text-decoration:none;
        text-transform:uppercase;
        font-family:@joeybold;
        line-height:17px;
        background:url(../img/seta-avanca.gif);
        background-repeat:no-repeat;
        background-position:right;
        margin-top:20px;
      }
      .destaque-wrapper{
        text-decoration:none;
      }
      .designers-destaque-nome{
        width: 204px;
        height: 40px;
        padding-left:10px;
        margin-top:-40px;
        position:relative;
        display:block;
        background:rgba(51, 51, 51, 0.81);
        color:#fff;
        font-family:@joeybold;
        font-size:20px;
        line-height:36px;
        text-decoration:none;
        margin-bottom:23px;
      }
    }
}
.conteudo.calendario.home{
  width:391px;
  padding-left:0;
  li{
    width:185px;
    height:206px;
  }
  h2{line-height:1em;}
}
.conteudo.calendario{
    width:730px;
    ul{
        margin:0;
        padding:0;
        list-style-type: none;
        li{
            width: 332px;
            height: 280px;
            float:left;
            margin-right:10px;
            margin-bottom:17px;
            article{
                color:#333;
                a{
                    display:block;
                    text-decoration:none;
                    color:#333;
                }
                .image-meta{
                    display: block;
                    width: 80px;
                    height: 44px;
                    float: right;
                    margin-top: -44px;
                    position: relative;
                    .uf, .meta-data{
                        display:block;
                        width:40px;
                        height:44px;
                        text-align:center;
                        float:left;
                        font-family: @joeymedium;
                    }
                    .uf{
                        line-height:44px;
                        color:#fff;
                        background:#333;
                        background:rgba(51, 51, 51, 0.72);
                        font-size:24px;
                    }
                    .meta-data{
                        font-family: @joeybold;
                        background:#000;
                        .mes{
                            color:#fff;
                            font-size: 18px;
                            line-height: 20px;
                            height: 18px;
                            display: block;
                        }
                        .dia{
                            color: @dodgerblue;
                            font-size: 28px;
                            line-height: 22px;
                            height: 28px;
                            display: block;
                        }
                    }
                }
                .data{font-family: @joeymedium; color:@darkgray; font-size:14px;}
                h2{font-size:16px; margin-top:0;}
            }
        }
    }
}

.conteudo.calendario.lista{
    ul{
        li{
            width:720px;
            height:auto;
            float:none;
            margin-bottom:50px;
            article{
                padding-bottom:30px;
                border-bottom:solid 5px #333;
                .image-container{
                    display:block;
                    float:left;
                    width:332px;
                    height:212px;
                }
                .info{
                    width:330px;
                    float:left;
                    margin-left:36px;
                    font-size:13px;
                }
                h2{
                    font-size: 23px;
                    margin-top: 0;
                    line-height: 1.2em;
                }
                p{
                    font-size:14px;
                }
                h3{
                    font-size:14px;
                    text-transform:uppercase;
                }
                .info-mapa{
                    a{
                        display:inline;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .image-meta{
        width:40px;
    }
}

  .leftbar{
    display:block;
    float:left;
    width:175px;
    margin-left:10px;
    h2{
      font-family:@joeybold;
      color:#333;
      text-transform:uppercase;
      font-size:16px;
      font-weight: normal;
    }
  }

.contato{
  form{
    input, textarea{
      width:495px;
      padding-left:10px;
      background-color:#E1E1E1;
      height:37px;
      border:none;
      outline:none;
      border-bottom:solid 1px #333;
      margin-bottom:18px;
    }

    textarea{
      height:141px;
    }

    label{
      font-family:@joeybold;
      color:#333;
      text-transform:uppercase;
      font-size:16px;
      font-weight: normal;
    }

    #contato-submit{
      width:140px;
      height:37px;
      font-family:@joeybold;
      text-transform:uppercase;
      font-size:18px;
      font-weight: normal;
      color: #ccc;
      background:#333;
      float:right;
      border-radius:0;
      margin-top:0;
      text-align:left;
      padding-left:10px;
      padding-right:10px;
      background-image:url(../img/seta-solta-avanca.gif);
      background-position:124px center;
      background-repeat:no-repeat;
    }
  }
}

/**
 * Blog
 */
.conteudo.blog{
    ul{
        margin:0;
        padding: 0;
    }
    .blog-titulo{
        font-family: @joeybold;
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        line-height:1em;
    }
    .blog-lista-data, .blog-post-data{
        display:block;
        float:left;
        width:140px;
        height:18px;
        line-height:16px;
        font-size:14px;
    }
    .blog-lista-data{
        color:#949494;
    }
    .blog-lista-tags, .blog-post-tags{
        span{
          display:inline-block;
        float:left;
        height:18px;
        background:@athensgrey;
        color:@dodgerblue;
        padding:0 8px;
        line-height:20px;
        text-transform: uppercase;
        font-size:11px;
        margin-right:2px;
        }
    }
    p{
        font-size:16px;
        strong{
            font-family:@joeybold;
            font-weight: normal;
        }
    }
}
.conteudo.blog.lista{
    article{
        a{
            text-decoration:none;
            color:#333;
        }
    }
}
.conteudo.blog.post{
}
.conteudo.blog.destaques{
    font-family:@joeyregular;
    width:554px;
    margin:0;
    padding:0;
        article{
            float:left;
            margin-right:9px;
        }
    h1{
        font-family:@joeybold;
        font-size:16px;
        color:#333;
        text-transform:uppercase;
        margin-top:20px;
    }
    .blog-lista-data{
        color:#929292;
        margin-top:6px;
    }
    h2{
        font-size:14px;
        font-family: @joeybold;
        color: #333;
        margin-top:0;
        margin-bottom:10px;
        height:60px;
    }
    a{
        text-decoration:none;
    }
}

/* ==========
    Páginas
 ========== */
.conteudo.paginas{
    header{
      height:auto;
    }
    article{
        h1{
            font-family: @joeybold;
            font-size: 20px;
            font-weight: normal;
            text-transform: uppercase;
            line-height:1em;
        }
        h2{
           font-family: @joeybold;
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
            line-height:1em;
        }
        blockquote{
          width:100%;
          margin:0;
          border:solid 1px #ECECEC;
          border-right:none;
          border-left:none;
          quotes:"\201C""\201D""\2018""\2019";
          p{
            margin:18px 0 18px 18px;
            width:450px;
            font-family:@joeyitalic;
            font-size:22px;
            quotes:"\201C""\201D""\2018""\2019";
          }
        }
        blockquote p:before {
          color: #333;
          content: open-quote;
          font-family: @joeyitalic;
          font-size: 37px;
          line-height: 0.1em;
          margin-right: 0.12em;
          vertical-align: -0.29em;
        }

        blockquote p:after {
          color: #333;
          content: close-quote;
          font-family: @joeyitalic;
          font-size: 37px;
          line-height: 0.1em;
          margin-right: 0.12em;
          vertical-align: -0.29em;
        }

        ol {
            counter-reset:li; /* Initiate a counter */
            margin-left:0; /* Remove the default left margin */
            padding-left:0; /* Remove the default left padding */
            font-size:16px;
        }
        ol > li {
            position:relative; /* Create a positioning context */
            list-style:none; /* Disable the normal item numbering */
        }
        ol > li:before {
            content:counter(li) '/ '; /* Use the counter as content */
            counter-increment:li; /* Increment the counter by 1 */
            font-family:@joeybold;
        }
        li ol,
        li ul {margin-top:6px;}
        ol ol li:last-child {margin-bottom:0;}
    }
    
}

.conteudo.paginas.historia{
    #tabs{
        ul{
            margin:0;
            padding:0;
            li{
                list-style-type: none;
                a{
                    display:block;
                    float:left;
                    width:70px;
                    height: 30px;
                    line-height:27px;
                    font-family:@joeybold;
                    font-size:20px;
                    color:#333;
                    text-decoration:none;
                    background-color: @athensgrey;
                    text-align:center;
                    margin-left:1px;
                    margin-bottom:5px;
                    &:hover{
                        background:@dodgerblue;
                        color:#FFF;
                    }
                }
                &.ui-state-active a{
                    background:@dodgerblue;
                    color:#FFF;
                }
            }
        }
    }
}

.conteudo.perfil{
    position:absolute;
    margin-left:191px;
    width:789px;
    &.detalhe{
        position:relative;
        width:747px;
        margin-left:auto;
        font-family:@joeyregular;
        .designer-meta{
            width:160px;
            float:left;
            .separador{
                width:160px;
                height:1px;
                background:@iron;
            }
            .local{
                line-height:35px;
                font-size:14px;
            }
            h2{
                font-size:14px;
                font-weight:normal;
                margin-top:4px;
                margin-bottom:4px;
            }
            .especialidades{
                a{text-decoration:none;font-size:14px;}
            }
        }
        .designer-portifolio{
            float:right;
            width:570px;
        }
    }
    .perfil-wrapper{
        width:220px;
        float:left;
        margin-right:43px;
        .perfil-link{
            text-decoration:none;
            color:#333;
            font-family: @joeybold;
            font-size:24px;
        }
        .especialidades-wrapper{
            a{
                font-family:@joeyregular;
                color:#9C9C9C;
                font-size:14px;
            }
        }
    }
}


/* ==========
    Footer
 ========== */

 footer{
    height:160px;
    background-color:@athensgrey;
    font-family:@joeyregular;
    .master{
        height:110px;
        padding-top:14px;
        background-color:#000;
        color:#FFF;
        h3{font-family:@joeybold; font-weight:normal; font-size:18px; margin-top:0; margin-bottom: 0;}
        h3 span{font-family:@joeyregular; font-weight:normal;}
        p{color:#FFF; font-size:12px;}
        .description{
            float:left;
            width:370px;
            margin-left:18px;
        }
        .social-footer{
            float:left;
            margin-left:206px;
            ul{
                margin:11px 0 0;
                padding:0;
                list-style-type: none;
                li{
                    a{
                      display:inline-block;
                      height:14px;
                      line-height:14px;
                      background-image:url(../img/icone-email.gif);
                      color:#FFF;
                      padding-left:19px;
                      background-repeat:no-repeat;
                      background-position:left;
                      text-decoration:none;
                      &.twitter{background-image:url(../img/icone-twitter.gif);}
                      &.facebook{background-image:url(../img/icone-facebook.gif);}
                    }
                }
            }
        }
    }
 }





    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Image replacement
     */

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }





/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body{min-width:1024px;}
    .grupo, .footer{
        width:1099px;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    /* Remove unwanted elements */
#header, #nav, .noprint
{
display: none;
}

/* Ensure the content spans the full width */
#container, #container2, #content
{
width: 100%; margin: 0; float: none;
}

/* Change text colour to black (useful for light text on a dark background) */
.lighttext
{
color: #000 
}

/* Improve colour contrast of links */
a:link, a:visited
{
color: #781351
}


}

/**
 * Styles for the jQuery Plugin tagedit
 *
 * Copyright (c) 2010 Oliver Albrecht <info@webwork-albrecht.de>
 *
 * @author Oliver Albrecht info@webwork-albrecht.de
 * @version 1.1.0
 *
 */

/** Styles for the Example page **/
body {font-size: 12px; color: #666; font-family: Verdana, sans-serif; margin: 20px;}
input {font-size: 12px; color: #666; font-family: Verdana, sans-serif;}
input[type=submit] {border: 1px solid #999; margin-top: 2em; background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; line-height: 30px; height: 30px; -moz-box-shadow: 0 0 3px #888; -webkit-box-shadow: 0 0 3px #888; box-shadow: 0 0 3px #888;}
label {font-weight: bold; margin-bottom: 0.5em; display: block;}
.footer {margin-top: 100px;}

